.adminImage.hidden-xs
  .link.mainLink= link_to 'Products', products_path
  .link.mainLink= link_to 'Users', users_path
  .link.mainLink= link_to 'Delivery Schedules', delivery_schedules_path
  .link.mainLink= link_to 'Orders', orders_path
.adminImage.visible-xs-block
  .link.mainLink= link_to 'Products', products_path
  .link.mainLink= link_to 'Users', users_path
  .link.mainLink= link_to 'Delivery Schedules', delivery_schedules_path
  .link.mainLink= link_to 'Orders', orders_path