.panel.panel-default
  .panel-heading
    .panel-title.col-md-4 Delivery Dates
    .col-md-offset-10
      = link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> New Date"), new_delivery_schedule_path, :class => "btn btn-sm btn-default"

  .panel-body
    - if !@delivery_schedules.empty?
      %table.table.table-bordered
        %tr
          %th Date
          %th Location
          %th
        - @delivery_schedules.each do |d|
          %tr
            %td
              = d.date
            %td
              = d.pickup_location
            %td
              .btn-group
                = link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> Edit"), edit_delivery_schedule_path(d), :class => "btn btn-sm btn-default"
                = link_to raw("<i class=\"glyphicon glyphicon-trash\"></i> Delete"), delivery_schedule_path(d), :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => "btn btn-sm btn-default"
    - else
      %p
        No Delivery dates found.
