= form_for @user, html: {class: "nifty_form"} do |f|
  .col-md-4
    = label_tag :user_id, "User ID"
    = f.text_field :user_id
  .col-md-4
    = label_tag :name, "Name"
    = f.text_field :name
  = f.submit "Save"