.panel.panel-default
  .panel-heading
    .panel-title
      .col-xs-8 Current Users
      .col-xs-1.col-xs-offset-2
      = link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> New User"), new_user_path, :class => "btn btn-sm btn-default"
  .panel-body
    - if !@users.empty?
      %table.table.table-bordered
        %tr
          %th.col-sm-2 User Id
          %th.col-sm-5 Name
          %th.col-sm-1 Loc
          %th
        - @users.each do |user|
          %tr
            %td.col-sm-2
              = user.user_id
            %td.col-sm-5
              = user.name
            %td.col-sm-1
              = user.pickup_location
            %td
              .btn-group
                = link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> Edit"), edit_user_path(user), :class => "btn btn-sm btn-default"
                = link_to raw("<i class=\"glyphicon glyphicon-wrench\"></i> Orders"), user_orders_url(user.user_id), :class => "btn btn-sm btn-default"
                = link_to raw("<i class=\"glyphicon glyphicon-trash\"></i> Delete"),  user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' } ,  :class => "btn btn-sm btn-default"
    - else
      %p
        No User found.
