.panel.panel-default
  .panel-heading
    %h3.panel-title= user_orders_headers(@current_user)
  .panel-body
    - if @orders.empty?
      .alert.alert-warning{:role => "alert"}
        %strong No orders for this user
    - else
      = form_for @current_user, url:user_orders_url , html: {class: "nifty_form"} do | f |
        = f.text_field :user_id, type: "hidden"
        = f.text_field :name, type: "hidden"
        %table.table.table-bordered
          %tr
            %th &nbsp
            - @grid.column_headers.each do |header|
              %th= header.strftime("%b %d")
          - @grid.rows.each do |row|
            %tr
              %td.h4= row.header.name
              - row.data.each do |order|
                =f.fields_for :orders, order do |o|
                  %td
                    = o.hidden_field :delivery_date
                    = o.hidden_field :user_name
                    = o.fields_for :product do | p|
                      = p.hidden_field :id
                      = p.hidden_field :name
                      = p.hidden_field :sort_order
                      = o.select :quantity, options_for_select(quantity_options_for(p.object), o.object.quantity)
                      = p.hidden_field :unit
        .col-md-4
          = submit_tag "Save", :class => "btn btn-primary"