.panel.panel-default
  .panel-heading
    %h3.panel-title Upcoming Orders for #{@current_user.name}

  .panel-body
    - if @orders_map.empty?
      .alert.alert-warning{:role => "alert"}
        %strong No orders for this user
    - else
      - @orders_map.each do |date, order|
        .order
          .col-xs-2.hidden-xs=date.strftime("%b %d")
          .col-xs-2.hidden-sm.hidden-md.hidden-lg=date.strftime("%m/%d")
          - if order.nil?
            = link_to 'Add', "/orders/new?deliveryDate=#{date}"
          - else
            = link_to 'Edit', edit_order_path(order.id)
            = link_to 'Delete', "/orders/#{order.id}", method: :delete, data: { :confirm => 'Are you sure?' }