<div class="alert alert-info" role="alert">
  <h4> Your order will be delivered on:  <%= @next_delivery_date %></h4>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% @orders.each do | order | %>
    <%= form_for order, url: build_user_path(@current_user) do | f | %>
      <div class="row">
        <div class="col-md-4"><%= order.product.name %></div>
        <div class="col-md-4">
          <input type="hidden" name="order[product]" value="<%= order.product.id %>" %>
          <%=  f.select :quantity, options_for_select(quantity_options_for(order.product)), {}, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%=  submit_tag "Order", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <hr/>
    <% end %>
  </div>
</div>
