.panel.panel-default
  .panel-heading
    %h3.panel-title= user_orders_headers(@current_user)
  .panel-body
    - if @orders.empty?
      .alert.alert-warning{:role => "alert"}
        %strong No orders for this user
    - else
      .row
        .col-md-4
          %h4 Delivery Date
        .col-md-4
          %h4= @next_delivery_date.strftime("%m-%d-%Y")
      - @orders.each do | order |
        = form_for order, url: build_user_path(@current_user) do | f |
          .row
            .col-md-4= order.product.name
            .col-md-4
              <input type="hidden" name="order[product]" value="#{order.product.id}" %>
              \#{f.select :quantity, options_for_select(quantity_options_for(order.product),  order.quantity), {}, class: 'form-control'}
            .col-md-4
              = submit_tag "Order", :class => "btn btn-primary"
        %hr/