.panel.panel-default
  .panel-heading
    %h3.panel-title= user_orders_headers(@current_user)
  .panel-body
    - if @orders.empty?
      .alert.alert-warning{:role => "alert"}
        %strong No orders for this user
    - else
      = form_for @current_user, url:user_orders_url , html: {class: "nifty_form"} do | f |
        = f.text_field :user_id, type: "hidden"
        = f.text_field :name, type: "hidden"
        .hidden-xs
          %table.table.table-bordered
            %tr
              %th &nbsp
              - @grid.column_headers.each do |header|
                %th= header.strftime("%b %d")
            - @grid.rows.each do |row|
              %tr
                %td.h4.col-lg-4= row.header.name
                - row.data.each do |order|
                  =f.fields_for :orders, order do |o|
                    %td.col-lg-3
                      = o.hidden_field :delivery_date
                      = o.hidden_field :user_name
                      = o.fields_for :product do | p|
                        = p.hidden_field :id
                        = p.hidden_field :name
                        = p.hidden_field :sort_order
                        .input-group
                          = o.text_field :quantity, class: 'form-control '
                          %span.input-group-btn
                            %a.btn.btn-default.order-minus-btn
                              %span.glyphicon.glyphicon-minus-sign
                            %a.btn.btn-default.order-plus-btn
                              %span.glyphicon.glyphicon-plus-sign
                        = p.hidden_field :unit
          .col-md-4
            = submit_tag "Save", :class => "btn btn-primary"

        .hidden-md.hidden-lg
          %h3 Small
          %table.table.table-bordered
            %tr
              %th &nbsp
              - @grid.column_headers.each do |header|
                %th= header.strftime("%b %d")
            - @grid.rows.each do |row|
              %tr
                %td.h4.col-lg-4= row.header.name
                - row.data.each do |order|
                  =f.fields_for :orders, order do |o|
                    %td.col-lg-3
                      = o.hidden_field :delivery_date
                      = o.hidden_field :user_name
                      = o.fields_for :product do | p|
                        = p.hidden_field :id
                        = p.hidden_field :name
                        = p.hidden_field :sort_order
                        = o.text_field :quantity, class: 'form-control input-sm-table'
                        %span.input-group-btn
                          %a.btn.btn-default.order-minus-btn.btn-sm-table
                            %span.glyphicon.glyphicon-minus-sign
                          %a.btn.btn-default.order-plus-btn.btn-sm-table
                            %span.glyphicon.glyphicon-plus-sign
                        = p.hidden_field :unit
          .col-md-4
            = submit_tag "Save", :class => "btn btn-primary"
