<div class="alert alert-info" role="alert">
  <h4> Your order will be delivered on:  <%= @next_delivery_date %></h4>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% @products.each do | product | %>
    <%= form_for @order, url: user_orders_path(user_id: @current_user.user_id) do | f | %>
      <div class="row">
        <div class="col-md-4"><%= product.name %></div>
        <div class="col-md-4">
          <input type="hidden" name="order[product]" value="<%= product.id %>" %>
          <%=  f.select :quantity, options_for_select(quantity_options_for(product))%>
        </div>
        <div class="col-md-4">
          <%=  submit_tag "Order", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <hr/>
    <% end %>
  </div>
</div>
