<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Orders for <%=@current_user.name %></h3>
  </div>
  <div class="panel-body">
    <% if @orders.empty? %>
      <div class="alert alert-warning" role="alert">
          <strong>Hi there :-)</strong>
          <p> Is it your first time here, I don't think I know you. Please be sure to have your user id in the url. Thanks.</p>
      </div>
      <% else %>
        <div class="row">
            <div class="col-md-4"><h4>Delivery Date</h4></div>
            <div class="col-md-4"> <h4><%= @next_delivery_date.strftime("%m-%d-%Y")  %></h4></div>
          </div>
        <% @orders.each do | order | %>
        <%= form_for order, url: build_user_path(@current_user) do | f | %>
          <div class="row">
            <div class="col-md-4"><%= order.product.name %></div>
            <div class="col-md-4">
              <input type="hidden" name="order[product]" value="<%= order.product.id %>" %>
              <%=  f.select :quantity, options_for_select(quantity_options_for(order.product),  order.quantity), {}, class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <%=  submit_tag "Order", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
        <hr/>
        <% end %>
      <% end %>
  </div>
</div>
