<h1>
  Edit Product
</h1>

<%= form_for @product, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag :name, "Name" %>
  <%= f.text_field :name %>
  <%= label_tag :unit, "Unit" %>
  <%= f.text_field :unit %>
  <%= label_tag :sort_order, "Sort Order" %>
  <%= f.text_field :sort_order %>
  <%=  f.submit "Update" %>
<% end %>
