.panel.panel-default
  .panel-heading
    %h3.panel-title Current Products
  .panel-body
    - if !@products.empty?
      %table.table.table-bordered
        %tr
          %th Product Name
          %th Unit
          %th Sort Order
        - @products.each do |product|
          %tr
            %td
              = product.name
            %td
              = product.unit
            %td
              = product.sort_order
            %td
              = link_to 'Edit', edit_product_path(product.id), :class => "btn btn-default"
            %td
              = link_to 'Delete',  "/products/#{product.id}", :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => "btn btn-default"
    - else
      %p
        No products found.