.panel.panel-default
  .panel-heading.hidden-xs
    .panel-title
      .col-sm-6 Current Products
      .col-sm-3.col-sm-offset-3
        = link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> New Product"), new_product_path, :class => "btn btn-sm btn-default"

  .panel-heading.hidden-sm.hidden-md.hidden-lg
    .panel-title
      .col-xs-6 Current Products
      .col-xs-4.col-xs-offset-1
        = link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> New Product"), new_product_path, :class => "btn btn-sm btn-default"

  .panel-body
    - if !@products.empty?
      %table.table.table-bordered
        %tr
          %th.col-md-6 Product Name
          %th.col-md-1 Unit
          %th.col-md-2 Sort Order
          %th.col-md-3
        - @products.each do |product|
          %tr
            %td.col-md-6
              = product.name
            %td.col-md-1
              = product.unit
            %td.col-md-2
              = product.sort_order
            %td.col-md-3
              .btn-group
                = link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> Edit"), edit_product_path(product), :class => "btn btn-sm btn-default"
                = link_to raw("<i class=\"glyphicon glyphicon-trash\"></i> Delete"),  product_path(product), :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => "btn btn-sm btn-default"
    - else
      %p
        No products found.
